/* :root{
    --primary:#4ade80;
    --primary-alt:#22c55e;
    --grey:#64748b;
    --dark:#1e293b;
    --dark-alt:#334155;
    --light:#f1f5f9;
    --slidebar-width:300px;
  } */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f1f5f9;
    margin: 0;
    padding: 0;
  }
  
  button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background: none;
  }